* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: pink;
  color: white
}
div {
  background-color: green;
}


nav {
  background-color: black;
  
}

.fas {
  padding: 15px;
}

/* affects the drop down */
.dropdown-box {
  display: none;
  width: 25%;
  background-color: lightgreen;
  box-shadow: 5px 15px 5px darkgreen;
  margin-left: 25px;

}

li {
  list-style-type: none;
  padding: 5px;
}

nav:hover .dropdown-box {
  display: block;
  position: absolute;
  z-index: 10;
}







li:hover {
  background-color: grey;
}

@media screen and (min-width:576px)
{
  .dropdown-box {
    display:block;
    width: 100%;
    margin: 0px;
  }

  .fas {
    display:none;
  }

  nav:hover .dropdown-box {
    position:static;
  }

  .hula {
    display: block;
    background-color: purple;
  }
}

@media screen and (min-width: 768px)
{
  li{display: inline-block;}
  .hula {
    background-color: yellow;
  }
}

